html {
  font-size: 12px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html,
body,
#__nuxt,
.root {
  position: relative;
  z-index: 1;
  min-height: 100%;
}

body {
  @keyframes skeleton-loading {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

::-webkit-scrollbar {
  width: 16px;
}


::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

h1,
h2 {
  font-family: 'Lilita One', cursive;
  font-size: 15vmin;
  letter-spacing: .2rem;
  transform-style : preserve-3d;
  
  span {
    position: relative;
    z-index: 2;
  }
}